<div id="vp-animations">
	<svg class="vp-jumpNorthEast">
		<path d="M0,{HEIGHT} C{100},{HEIGHT} {WIDTH-100},0 {WIDTH},0" fill="none" />
	</svg>
	<svg class="vp-jumpNorthWest">
		<path d="M{WIDTH},{HEIGHT} C{WIDTH-100},{HEIGHT} {100},0 0,0" fill="none" />
	</svg>
	<svg class="vp-jumpSouthEast">
		<path d="M0,0 C{100},0 {WIDTH-100},{HEIGHT} {WIDTH},{HEIGHT}" fill="none" />
	</svg>
	<svg class="vp-jumpSouthWest">
		<path d="M{WIDTH},0 C{WIDTH-100},0 {100},{HEIGHT} 0,{HEIGHT}" fill="none" />
	</svg>
</div>
