<div id="vp-player-container">
	<div class="vp-sprite-menu-container" data-clickable="true">
		<div class="vp-sprite-menu">
			<button id="vp-sprite-menu-toggle">Toggle menu</button>
			<div class="vp-sprite-menu-list vp-hidden">
				<div
					class="vp-sprite-menu-list-item"
					id="vp-btn-jump-to-another-place"
				>
					Change location/Jump
				</div>
				<div class="vp-sprite-menu-list-item" id="vp-btn-anim-idle">
					Idle
				</div>
				<div class="vp-sprite-menu-list-item" id="vp-btn-anim-eating">
					Eating
				</div>
				<div class="vp-sprite-menu-list-item" id="vp-btn-anim-jump">
					Jump
				</div>
				<div class="vp-sprite-menu-list-item" id="vp-btn-anim-sleeping">
					Sleeping
				</div>
			</div>
		</div>
	</div>
</div>
